{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'images/fav.png' %}" rel="icon" type="image/png">
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Scripts -->
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
    <!-- Links -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <!-- Header-->
        <header>
            <div class="bg-white shadow dark:bg-gray-800">
                <div class="max-w-6xl mx-auto">
                    <div class="flex -mx-4 items-center justify-end">
                        <!-- Logo -->  
                        <div class="px-4 w-60 max-w-full mr-auto px-4">
                            <a href="/">
                                <b><h1 style="font-size: 1.5rem">To Do List</h1></b>
                            </a>
                        </div>


                        
                        <!-- Search Bar -->
                        <div class="p-2 hidden sm:flex">
                            <div class="">
                                <form action="/search" method="POST">
                                    {% csrf_token %}
                                    <div class="">
                                        <input type="text" name="username" placeholder="Search for username..."
                                        class="placeholder:italic
                                        bg-gray-100 border border-slate-300 rounded-md 
                                        py-2 pl-5 pr-3
                                        shadow-sm 
                                        focus:outline-none
                                        focus:border-sky-300 
                                        focus:ring-sky-300 focus:ring-1">
                                        <button type="submit"><i class="fa fa-search fa-1x"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                            
                        <!-- Upload -->
                        <div class="p-2 hidden sm:flex">
                        <a href="#"
                            class="blue-500 px-6 py-3 text-base
                            shadow font-medium text-white
                            bg-blue-500 bg-opacity-90
                            rounded-lg
                            hover:bg-opacity-100 hover:text-dark
                            duration-300
                            ease-in-out
                            focus:ring focus:ring-blue-500"
                            data-ripple-light="true">Upload Pics</a>

                        <!-- upload dropdown box -->
                        <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">
                        <!-- notivication header -->
                        <div class="px-6 py-4 -mx-5 -mt-4 mb-5 border-b text-xl font-mono text-center">
                            <h4>Upload Pics</h4>
                        </div>
                        <!-- contents -->
                        <div class="flex justify-center flex-center text-center">
                            <div class="flex flex-col choose-upload text-center">
                                <div class="bg-gray-100 border-2 border-dashed flex flex-col h-24 items-center justify-center relative w-full rounded-lg  ">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                                        <path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                                        <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                                    </svg>
                                </div>

                                <form action="upload" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <p class="my-3 leading-6 font-mono"> Upload pics </p>
                                <div>
                                    <input type="file" name="image_upload"
                                        class="block text-lg text-slate-500
                                        file:mr-4 file:py-2 file:px-4
                                        file:rounded-full file:border-0
                                        file:text-sm file:font-semibold
                                        file:bg-blue-50 file:text-blue-700
                                        hover:file:bg-blue-100" />
                                    
                                    <textarea name="caption" placeholder="caption..." rows="5"
                                    class="block bg-gray-100 w-full border border-slate-300 rounded-md 
                                    py-2 pl-10 pr-3
                                    shadow-sm mt-5
                                    focus:outline-none
                                    focus:border-sky-300 
                                    focus:ring-sky-300 focus:ring-1
                                    placeholder:text-slate-400"> </textarea>
                                    <br>
                                    <button type="submit"
                                    class="blue-500 px-4 py-2 
                                    text-base
                                    shadow
                                    font-medium
                                    text-white
                                    bg-blue-500 bg-opacity-90
                                    rounded-lg
                                    hover:bg-opacity-100 hover:text-dark
                                    duration-300
                                    ease-in-out
                                    focus:ring 
                                    focus:ring-blue-500"
                                    data-ripple-light="true">Upload</button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="px-4 py-3 -mx-5 -mb-4 mt-5 border-t text-sm">
                            Your Image size Must be Maxmium 999MB
                        </div>
                    </div>
                </div>

                <!-- profile -->
                    <div class="p-2">
                        <a href="#">
                            <img src="{{user_profile.profileimg.url}}" class="h-12 w-12 object-cover rounded-full" alt="">
                        </a>
                        <div uk-drop="mode: click;offset:10"
                        class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100">
                            <ul>
                                <li><a class="flex items-center px-3 py-2 hover:bg-blue-100 hover:text-blue-500 rounded-md" href="/settings"> Account Setting</a></li>
                                <li><a class="flex items-center px-3 py-2 hover:bg-blue-100 hover:text-blue-500 rounded-md" href="/profile/{{user_profile.user.username}}"> Profile </a></li>
                                <li><a class="flex items-center px-3 py-2 hover:bg-blue-100 hover:text-blue-500 rounded-md" href="/tasks"> To Do List </a></li>
                                <li><a class="flex items-center px-3 py-2 hover:bg-blue-100 hover:text-blue-500 rounded-md" href="/calendar"> Calendar </a></li>
                                <li><a class="flex items-center px-3 py-2 hover:bg-blue-100 hover:text-blue-500 rounded-md" href="/chat"> Free Chat </a></li>
                                <li><a class="flex items-center px-3 py-2 hover:bg-blue-100 hover:text-blue-500 rounded-md" href="/logout"> LogOut </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
        </header>



    <!-- content -->
    <body class="bg-gray-100">
      <div class="container m-auto my-6 max-w-6xl">

      <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">
      <!-- Profile section: Left -->
        <div class="space-y-5 flex-shrink-0 lg:w-5/12" >
          <div class="h-60 flex items-center justify-center m-auto">
            <figure class="">
              <img class="h-60 w-60 rounded-3xl" src="{{user_profile.profileimg.url}}"/>
              <!-- <form class="">
                <i class="fa fa-camera-retro"></i>
                <label class="">
                  <a href="/settings">Upload Profile Photo</a>
                </label>
              </form> -->
            </figure>
          </div>
        </div>

          <!-- Profile section: Right -->
          <div class="lg:w-7/12 h-60 ">
            <div class="">
              <div>
                <h5 class="text-4xl ml-2">
                  <b>@{{user_profile.user.username}}</b>
                </h5>
              </div>
          <!-- Bio section -->
            <div class="text-2xl mt-5 ml-2 h-24 overflow-hidden">{{user_profile.bio}}</div>
          </div>

        <!-- Count section -->
        <div class="mt-8">
          <form action="/follow" method="POST" class="text-2xl">
            {% csrf_token %}
            <div class=" h-10 flex items-center justify-start">
              {% if user_post_length == 0 %}
              <span class="mx-2"><b> No Post</b></span>
              {% elif user_post_length == 1 %}
              <span class="mx-2"><b>{{user_post_length}} Post</b></span>
              {% else %}
              <span class="mx-2"><b>{{user_post_length}} Posts</b></span>
              {% endif %} {% if user_followers == 0 or user_followers == 1 %}
              <span class="mx-2"><b>{{user_followers}} follower</b></span>
              {% else %}
              <span class="mx-2"><b>{{user_followers}} followers</b></span>
              {% endif %}
              <span class="mx-2"><b>{{user_following}} following</b></span>

              <input type="hidden" value="{{user.username}}" name="follower" class="mx-2" />
              <input type="hidden" value="{{user_object.username}}" name="user" class="mx-2" />
              {% if user_object.username == user.username %}
              <a href="/settings" data-ripple=""  class="blue-500 px-4 py-2 
                                    text-base
                                    shadow
                                    font-medium
                                    text-white
                                    bg-blue-500 bg-opacity-90
                                    rounded-lg
                                    hover:bg-opacity-100 hover:text-dark
                                    duration-300
                                    ease-in-out
                                    focus:ring 
                                    focus:ring-blue-500 mx-2"> Account Settings </a>
              {% else %}
                {% if button_text == 'Follow' %}
              <a data-ripple=""  class="blue-500 px-4 py-2 text-base
                                    shadow
                                    font-medium
                                    text-white
                                    bg-blue-500 bg-opacity-90
                                    rounded-lg
                                    hover:bg-opacity-100 hover:text-dark
                                    duration-300
                                    ease-in-out
                                    focus:ring 
                                    focus:ring-blue-500
                                    mx-2">
                <button type="submit"> {{button_text}} </button> </a>
                  {% else %}
                <a data-ripple=""  class="px-6 py-3 
                                            text-base
                                            shadow
                                            font-medium
                                            text-red-500
                                            bg-gray-50 bg-opacity-90
                                            rounded-lg
                                            hover:bg-opacity-100 hover:text-dark
                                            duration-10
                                            ease-in-out
                                            focus:ring-2
                                            focus:ring-red-400 mx-2">
                <button type="submit"> {{button_text}} </button>
              </a>
                {% endif %}
              {% endif %}
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

    <!-- Post Section -->
    <section class="container m-auto my-6 max-w-6xl">
        <div class="bg-white rounded-md lg:shadow-lg shadow mt-12">
          <ul class="grid grid-cols-4">
            {% for post in user_posts reversed %}
            <li class="">
              <a class="m-5 flex items-center" href="{{post.image.url}}" title="">
                <img src="{{post.image.url}}" alt=""
                class="h-56 w-56 rounded-md"/>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
    </section>
  </div>
  
  </body>
  
<!-- Footer -->
    <div class="lg:mb-5 py-3 uk-link-reset">
        <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
        <div class="flex space-x-2 text-gray-700 uppercase">
            <a href="/about">About</a>
        </div>
        <p class="capitalize">© copyright 2022 by Team TODO</p>
        </div>
        </div>
    </div>

</html>
